{
  "openapi": "3.0.0",
  "info": {
    "title": "DemandBridge DBD Validation Service",
    "description": "API for validating data migrations from PVX to PostgreSQL",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dbd-apim.azure-api.net/validation",
      "description": "Production API Gateway"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local Development"
    }
  ],
  "paths": {
    "/schema/validate": {
      "post": {
        "summary": "Validate database schema conversion",
        "description": "Validates the conversion of PVX schemas to PostgreSQL",
        "tags": ["Schema Validation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/validate": {
      "post": {
        "summary": "Validate data type conversions",
        "description": "Validates the conversion of legacy data types to modern PostgreSQL types",
        "tags": ["Data Validation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pvx/validate": {
      "post": {
        "summary": "Validate PVX file structure",
        "description": "Validates the structure and content of PVX program files",
        "tags": ["PVX Validation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PVXValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/modules/{module}/validate": {
      "parameters": [
        {
          "name": "module",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "AP0_Div",
              "AP2_Term",
              "AP3_VendCatg",
              "AP4_Vend",
              "AP5_VendStatus",
              "AP8_VendMsg",
              "AP9_VendStats",
              "APA_InvoiceEntManChk",
              "AR1_Cust",
              "AR2_Terms",
              "AR5_SlsTax",
              "AR6_OpenInvoice",
              "ARA_SlspersonStats",
              "ARB_InvoiceEntHdr"
            ]
          }
        }
      ],
      "post": {
        "summary": "Validate specific module data",
        "description": "Validates the data conversion for a specific AP or AR module",
        "tags": ["Module Validation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SchemaValidationRequest": {
        "type": "object",
        "required": ["sourceSchema", "targetSchema"],
        "properties": {
          "sourceSchema": {
            "type": "object",
            "description": "Original PVX schema definition"
          },
          "targetSchema": {
            "type": "object",
            "description": "Proposed PostgreSQL schema"
          },
          "options": {
            "type": "object",
            "properties": {
              "validateForeignKeys": {
                "type": "boolean",
                "default": true
              },
              "validateIndexes": {
                "type": "boolean",
                "default": true
              },
              "validateAuditFields": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "DataValidationRequest": {
        "type": "object",
        "required": ["dataTypeMapping"],
        "properties": {
          "dataTypeMapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": ["source", "target"],
              "properties": {
                "source": {
                  "type": "string",
                  "enum": ["CHAR", "NUMBER(14,3)", "DATE"]
                },
                "target": {
                  "type": "string",
                  "enum": ["VARCHAR", "DECIMAL(14,3)", "TIMESTAMP WITH TIME ZONE"]
                }
              }
            }
          },
          "sampleData": {
            "type": "object",
            "description": "Sample data to validate conversion"
          }
        }
      },
      "PVXValidationRequest": {
        "type": "object",
        "required": ["fileContent", "fileType"],
        "properties": {
          "fileContent": {
            "type": "string",
            "description": "Content of the PVX program file"
          },
          "fileType": {
            "type": "string",
            "enum": ["tf2g", "tf2w", "tf2z"],
            "description": "Type of PVX component"
          }
        }
      },
      "ModuleValidationRequest": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Module data to validate"
          },
          "options": {
            "type": "object",
            "properties": {
              "validateRelationships": {
                "type": "boolean",
                "default": true
              },
              "validateConstraints": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "required": ["isValid", "errors"],
        "properties": {
          "isValid": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["code", "message"],
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                },
                "details": {
                  "type": "object"
                }
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["code", "message"],
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "recommendation": {
                  "type": "string"
                }
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalRecords": {
                "type": "integer"
              },
              "validRecords": {
                "type": "integer"
              },
              "invalidRecords": {
                "type": "integer"
              },
              "warningCount": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Schema Validation",
      "description": "Endpoints for validating database schema conversions"
    },
    {
      "name": "Data Validation",
      "description": "Endpoints for validating data type conversions"
    },
    {
      "name": "PVX Validation",
      "description": "Endpoints for validating PVX program files"
    },
    {
      "name": "Module Validation",
      "description": "Endpoints for validating specific module data"
    }
  ]
}
