p.Normal { 
          margin-top:1; 
          margin-right:1; 
          margin-bottom:6.0pt; 
          margin-left:1; 
          font-size:10.0pt; 
          font-family:Arial;  }
h1 { 
    margin-top:12.0pt; 
    margin-right:1; 
    margin-bottom:3.0pt; 
    margin-left:1; 
    font-size:16.0pt; 
    font-family:Arial;  }
h3 { 
    margin-top:6.0pt; 
    margin-right:1; 
    margin-bottom:6.0pt; 
    margin-left:1; 
    font-size:13.0pt; 
    font-family:Arial;  }
p.Toc1 { 
        margin-top:1; 
        margin-right:1; 
        margin-bottom:6.0pt; 
        margin-left:1; 
        font-size:10.0pt; 
        font-family:Arial;  }
p.Toc3 { 
        margin-top:1; 
        margin-right:1; 
        margin-bottom:6.0pt; 
        margin-left:20.0pt; 
        font-size:10.0pt; 
        font-family:Arial;  }
a:link { 
        color:blue; 
        text-decoration:underline; 
        text-underline:single;  }
span.Hyperlink { 
                color:blue; 
                text-decoration:underline; 
                text-underline:single;  }
a:visited { 
           color:purple; 
           text-decoration:underline; 
           text-underline:single;  }
span.HyperlinkFollowed { 
                        color:purple; 
                        text-decoration:underline; 
                        text-underline:single;  }
p.StyleHeading310pt { 
                     margin-top:6.0pt; 
                     margin-right:1; 
                     margin-bottom:6.0pt; 
                     margin-left:1; 
                     font-size:11.0pt; 
                     font-family:Arial; 
                     font-weight:bold;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
