{
  "openapi": "3.0.0",
  "info": {
    "title": "DemandBridge DBD Migration Service",
    "description": "API for migrating data from PVX to PostgreSQL",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dbd-apim.azure-api.net/migration",
      "description": "Production API Gateway"
    },
    {
      "url": "http://localhost:3002",
      "description": "Local Development"
    }
  ],
  "paths": {
    "/schema/migrate": {
      "post": {
        "summary": "Migrate database schema",
        "description": "Converts PVX schema to modern PostgreSQL schema",
        "tags": ["Schema Migration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Migration results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/migrate": {
      "post": {
        "summary": "Migrate data with type conversion",
        "description": "Converts data from legacy types to modern PostgreSQL types",
        "tags": ["Data Migration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Migration results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/modules/{module}/migrate": {
      "parameters": [
        {
          "name": "module",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "AP0_Div",
              "AP2_Term",
              "AP3_VendCatg",
              "AP4_Vend",
              "AP5_VendStatus",
              "AP8_VendMsg",
              "AP9_VendStats",
              "APA_InvoiceEntManChk",
              "AR1_Cust",
              "AR2_Terms",
              "AR5_SlsTax",
              "AR6_OpenInvoice",
              "ARA_SlspersonStats",
              "ARB_InvoiceEntHdr"
            ]
          }
        }
      ],
      "post": {
        "summary": "Migrate specific module",
        "description": "Migrates data for a specific AP or AR module",
        "tags": ["Module Migration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Migration results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pvx/migrate": {
      "post": {
        "summary": "Migrate PVX program",
        "description": "Converts PVX program files to modern equivalents",
        "tags": ["PVX Migration"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PVXMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Migration results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status/{jobId}": {
      "parameters": [
        {
          "name": "jobId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Get migration job status",
        "description": "Retrieves the status of a migration job",
        "tags": ["Job Management"],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SchemaMigrationRequest": {
        "type": "object",
        "required": ["sourceSchema"],
        "properties": {
          "sourceSchema": {
            "type": "object",
            "description": "Original PVX schema definition"
          },
          "options": {
            "type": "object",
            "properties": {
              "addAuditFields": {
                "type": "boolean",
                "default": true,
                "description": "Add created_at, updated_at, and audit fields"
              },
              "useUuidPrimaryKeys": {
                "type": "boolean",
                "default": true,
                "description": "Use UUID for primary keys"
              },
              "addForeignKeyConstraints": {
                "type": "boolean",
                "default": true,
                "description": "Add proper foreign key constraints"
              },
              "enableRowLevelSecurity": {
                "type": "boolean",
                "default": true,
                "description": "Enable row-level security"
              },
              "enableFullTextSearch": {
                "type": "boolean",
                "default": true,
                "description": "Add full-text search capabilities"
              }
            }
          }
        }
      },
      "DataMigrationRequest": {
        "type": "object",
        "required": ["dataTypeMapping", "data"],
        "properties": {
          "dataTypeMapping": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": ["source", "target"],
              "properties": {
                "source": {
                  "type": "string",
                  "enum": ["CHAR", "NUMBER(14,3)", "DATE"]
                },
                "target": {
                  "type": "string",
                  "enum": ["VARCHAR", "DECIMAL(14,3)", "TIMESTAMP WITH TIME ZONE"]
                }
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "batchSize": {
            "type": "integer",
            "default": 1000,
            "description": "Number of records to process in each batch"
          }
        }
      },
      "ModuleMigrationRequest": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "options": {
            "type": "object",
            "properties": {
              "preserveRelationships": {
                "type": "boolean",
                "default": true
              },
              "validateConstraints": {
                "type": "boolean",
                "default": true
              },
              "batchSize": {
                "type": "integer",
                "default": 1000
              }
            }
          }
        }
      },
      "PVXMigrationRequest": {
        "type": "object",
        "required": ["fileContent", "fileType"],
        "properties": {
          "fileContent": {
            "type": "string",
            "description": "Content of the PVX program file"
          },
          "fileType": {
            "type": "string",
            "enum": ["tf2g", "tf2w", "tf2z"],
            "description": "Type of PVX component"
          },
          "options": {
            "type": "object",
            "properties": {
              "preserveComments": {
                "type": "boolean",
                "default": true
              },
              "generateDocs": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "MigrationResponse": {
        "type": "object",
        "required": ["jobId", "status"],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "running", "completed", "failed"]
          },
          "progress": {
            "type": "object",
            "properties": {
              "totalRecords": {
                "type": "integer"
              },
              "processedRecords": {
                "type": "integer"
              },
              "successCount": {
                "type": "integer"
              },
              "errorCount": {
                "type": "integer"
              },
              "percentComplete": {
                "type": "number",
                "format": "float"
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["code", "message"],
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "required": ["jobId", "status"],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "running", "completed", "failed"]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "progress": {
            "type": "object",
            "properties": {
              "totalRecords": {
                "type": "integer"
              },
              "processedRecords": {
                "type": "integer"
              },
              "successCount": {
                "type": "integer"
              },
              "errorCount": {
                "type": "integer"
              },
              "percentComplete": {
                "type": "number",
                "format": "float"
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Schema Migration",
      "description": "Endpoints for migrating database schemas"
    },
    {
      "name": "Data Migration",
      "description": "Endpoints for migrating data with type conversions"
    },
    {
      "name": "Module Migration",
      "description": "Endpoints for migrating specific module data"
    },
    {
      "name": "PVX Migration",
      "description": "Endpoints for migrating PVX program files"
    },
    {
      "name": "Job Management",
      "description": "Endpoints for managing migration jobs"
    }
  ]
}
